     body {
            background: #0d0f23;
            color: white;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            justify-content: center;
            padding: 20px;
        }
        .card {
            border-radius: 10px;
            padding: 12px;
            width: 200px;
            background: #1c2039;
            text-align: center;
            cursor: pointer;
            transition: 0.25s;
            box-shadow: 0 4px 12px rgba(0,0,0,0.4);
        }
        .card:hover {
            transform: scale(1.06);
            box-shadow: 0 8px 20px rgba(0,0,0,0.6);
        }
        .card img {
            width: 100%;
            border-radius: 10px;
        }
        h1 {
            width: 100%;
            text-align: center;
            color: #4ea2ff;
            font-size: 32px;
        }
        h3 {
            margin: 8px 0;
        }
        button {
            padding: 6px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            background: #4ea2ff;
            color: black;
            font-weight: bold;
        }
        /* MODAL */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.85);
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }
        .modal-content {
            background: #1c2039;
            padding: 20px;
            border-radius: 12px;
            width: 90%;
            max-width: 500px;
            text-align: center;
            position: relative;
            box-shadow: 0px 0px 30px black;
        }
        .modal img {
            width: 100%;
            border-radius: 10px;
        }
        .close {
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: 30px;
            cursor: pointer;
            color: white;
           
        }
        .buy-btn {
            display: block;
            margin-top: 16px;
            padding: 12px;
            background: #4ea2ff;
            color: black;
            font-weight: bold;
            border-radius: 10px;
            text-decoration: none;
        }