
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color: #f4f4f4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size:1.3em;
    line-height:1.5em;
}
.container {
    width: 80%;
    margin:  50px auto;
    background-color: var(--background-color);
    border-radius: 10px;
    z-index: 2;
    padding: 20px;
    display: block;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}
p {
    margin: 10px 0;
    color: var(--text-color);
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
}